<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
		xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
		xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
		xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/windowsTemplateStudio"
  IgnorableNamespaces="uap rescap desktop mp genTemplate">

  <Identity
    Name="627E35B4-6B22-4D7F-883F-C58556BBA2BD"
    Publisher="CN=samue"
    Version="1.0.0.0" />

		<mp:PhoneIdentity PhoneProductId="627E35B4-6B22-4D7F-883F-C58556BBA2BD" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
				
  <Properties>
    <DisplayName>ModernFlyouts.Settings</DisplayName>
    <PublisherDisplayName>samue</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
					<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
					<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ModernFlyouts.Settings.App">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
      </uap:VisualElements>

    </Application>
  </Applications>

				<!--<Extensions>
								<uap:Extension Category="windows.appService">
												<uap:AppService Name="SystrayExtensionService" />
								</uap:Extension>
								<desktop:Extension Category="windows.fullTrustProcess" Executable="Win32\SystrayComponent.exe" />
				</Extensions>-->

		<Capabilities>
    <Capability Name="internetClient" />
				<!--<rescap:Capability Name="runFullTrust" />-->
  </Capabilities>

  <genTemplate:Metadata>
    <genTemplate:Item Name="generator" Value="Windows Template Studio"/>
    <genTemplate:Item Name="wizardVersion" Version="v4.1.21179.1" />
    <genTemplate:Item Name="templatesVersion" Version="v4.1.21179.1" />
    <genTemplate:Item Name="projectType" Value="SplitView" />
    <genTemplate:Item Name="framework" Value="MVVMToolkit" />
    <genTemplate:Item Name="platform" Value="Uwp" />
  </genTemplate:Metadata>
</Package>