<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap7="http://schemas.microsoft.com/appx/manifest/uap/windows10/7"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="32669SamG.ModernFlyouts"
    Publisher="CN=E3B4A0F6-E459-414C-8DFB-ABEAB07C9242"
    Version="0.9.0.0" />

  <Properties>
	<DisplayName>ModernFlyouts (Preview)</DisplayName>
	<PublisherDisplayName>Sam G</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
	  <Resource Language="en-us"/>
	  <Resource Language="en-GB"/>
	  <Resource Language="af"/>
	  <Resource Language="ar"/>
	  <Resource Language="de"/>
	  <Resource Language="el"/>
	  <Resource Language="es"/>
	  <Resource Language="fa"/>
	  <Resource Language="fr"/>
	  <Resource Language="he"/>
	  <Resource Language="hi"/>
	  <Resource Language="hu"/>
	  <Resource Language="id"/>
	  <Resource Language="is"/>
	  <Resource Language="it"/>
	  <Resource Language="ja"/>
	  <Resource Language="ko"/>
	  <Resource Language="ms"/>
	  <Resource Language="nb"/>
	  <Resource Language="nl"/>
	  <Resource Language="pl"/>
	  <Resource Language="pt"/>
	  <Resource Language="ru"/>
	  <Resource Language="sv"/>
	  <Resource Language="tr"/>
	  <Resource Language="uk"/>
	  <Resource Language="vi"/>
	  <Resource Language="zh-CN"/>
	  <Resource Language="zh-TW"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ModernFlyouts (Preview)"
        Description="ModernFlyouts"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
		<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="ModernFlyouts">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension
            Category="windows.startupTask"
            Executable="ModernFlyoutsLauncher.exe"
            EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask
            TaskId="ModernFlyoutsStartupId"
            Enabled="true"
            DisplayName="ModernFlyouts" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <!--<rescap:Capability Name="packageManagement" />-->
	<!--<Capability Name="globalMediaControl" / >-->
    <Capability Name="internetClient"/>
  </Capabilities>
</Package>
