<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap7="http://schemas.microsoft.com/appx/manifest/uap/windows10/7"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="mp uap uap3 uap5 uap7 desktop rescap">

  <Identity
    Name="d98eb135-8719-441c-94fb-30875ccdeb8a"
    Publisher="CN=ModernFlyouts"
    Version="0.11.0.0" />

  <Properties>
    <DisplayName>ModernFlyouts</DisplayName>
    <PublisherDisplayName>ModernFlyouts-Community</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.22000.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="ModernFlyouts"
        Description="ModernFlyouts v11+"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" uap5:Optional="true" />
      </uap:VisualElements>

		<Extensions>
			<desktop:Extension Category="windows.startupTask"
							   Executable="ModernFlyouts.exe"
							   EntryPoint="Windows.FullTrustApplication">
				<desktop:StartupTask
				  TaskId="MyStartupId"
				  Enabled="true"
				  DisplayName="ModernFlyouts" />
			</desktop:Extension>

			<!--https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/schema-root-->
			<!--https://stefanwick.com/2018/10/07/app-elevation-samples-part-3/-->
			<!--https://stefanwick.com/2017/06/24/uwp-app-with-systray-extension/-->
			<!--////////Investigate elevation///-->

		<desktop:Extension Category="windows.fullTrustProcess"
				   Executable="Elevated Extension\Elevated Extension.exe">
			<desktop:FullTrustProcess>
				<desktop:ParameterGroup GroupId="User" Parameters="/user" />
				<desktop:ParameterGroup GroupId="Admin" Parameters="/admin" />
			</desktop:FullTrustProcess>
		</desktop:Extension>

		<uap3:Extension Category="windows.appExecutionAlias"
						Executable="Elevated Extension\Elevated Extension.exe"
						EntryPoint="Windows.FullTrustApplication">
			<uap3:AppExecutionAlias>
				<desktop:ExecutionAlias Alias="ElevatedExtension.exe" />
			</uap3:AppExecutionAlias>
		</uap3:Extension>
			<uap3:Extension Category="windows.appExecutionAlias"
				Executable="Self Elevation WPF\Self Elevation WPF.exe"
				EntryPoint="Windows.FullTrustApplication">
				<uap3:AppExecutionAlias>
					<desktop:ExecutionAlias Alias="SelfElevationWPF.exe" />
				</uap3:AppExecutionAlias>
			</uap3:Extension>

			<uap:Extension Category="windows.protocol">
				<uap:Protocol ReturnResults="none" Name="modernflyouts-uwp"/>
			</uap:Extension>
			<uap5:Extension
			  Category="windows.appExecutionAlias"
			  Executable="ModernFlyouts.exe"
			  EntryPoint="ModernFlyouts.App">
				<uap5:AppExecutionAlias>
					<uap5:ExecutionAlias Alias="ModernFlyouts.exe"/>
				</uap5:AppExecutionAlias>
			</uap5:Extension>

			<Extension Category="windows.updateTask" EntryPoint="BackgroundTasks.UpdateTask" />
			
			<!--///////////-->		
			
		</Extensions>
	</Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
	  <!--<rescap:Capability Name="allowElevation" />-->
	  <!--<DeviceCapability Name="bluetooth" />-->
	  <!--<rescap:Capability Name="packageManagement" />-->
	  <!--<Capability Name="globalMediaControl" / >-->
  </Capabilities>
</Package>
